* {
  box-sizing: border-box;
  word-break: keep-all;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-left: 0;
}

a {
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}

input,
label {
  display: inline-block;
  outline: none;
  border: none;
  font-size: 17px;
  background-color: transparent;
}

textarea {
  margin-top: 5px;
  background-color: transparent;
  border: none;
  overflow-y: scroll;
  font-size: 15px;
  outline: none;
  resize: none;
}

section {
  margin: 20px;
}
