@use "abstracts/mixins";
@use "abstracts/variables";

@use "base/reset";
@use "base/typography";
@use "base/borders";
@use "base/utilities";

@use "components/buttons";
@use "components/forms";
@use "components/modals";
@use "components/headings";
@use "components/icons";
@use "components/policy";

@use "layout/containers";
@use "layout/loading";
@use "layout/sections";
@use "layout/nav";
@use "layout/footer";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: variables.$light-text-color;
  background-color: variables.$light-background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: variables.$light-text-color;
    background-color: variables.$light-background-color;
  }

  a:hover {
    color: #747bff;
  }

  .login-icon {
    color: darkgray;
  }

  .title {
    color: variables.$dark-text-color;
    background-color: variables.$dark-background-color;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: variables.$dark-text-color;
    background-color: variables.$dark-background-color;
  }

  a:hover {
    color: #747bff;
  }

  .login-icon {
    color: variables.$dark-text-color;
  }

  .title {
    color: variables.$light-text-color;
    background-color: variables.$light-background-color;
  }
}

main {
  padding: 10px;
}

aside {
  &.portfolio-disclaimer {
    margin: 10px;
  }
}
