// abstracts
@use "abstracts/mixins";
@use "abstracts/variables";

// base
@use "base/reset";
@use "base/typography";
@use "base/borders";
@use "base/utilities";

@use "components/buttons";
@use "components/forms";
@use "components/modals";
@use "components/headings";
@use "components/icons";
@use "components/policy";
@use "components/animation";
@use "components/caution";
@use "components/theme";
@use "components/faqs";
@use "components/reservations";
@use "components/events";
@use "components/notices";
@use "components/location";
@use "components/account";
@use "components//pagination";

// layout
@use "layout/containers";
@use "layout/loading";
@use "layout/sections";
@use "layout/nav";
@use "layout/footer";
@use "layout/header";
@use "layout/slide";
@use "layout/page";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: variables.$light-text-color;
  background-color: variables.$light-background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Toastify__toast-container {
  z-index: 9999 !important;
}

a {
  &.btn {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

@media (prefers-color-scheme: light) {
  :root {
    color: variables.$light-text-color;
    background-color: variables.$light-background-color;
  }

  a:hover {
    color: #747bff;
  }

  .login-icon {
    color: darkgray;
  }

  header {
    color: variables.$dark-text-color;
    background-color: variables.$dark-background-color;
  }

  .footer {
    background-color: variables.$dark-background-color;

    li {
      color: variables.$dark-text-color;
    }

    .link-item {
      color: variables.$light-link-color;
      &:hover {
        color: variables.$dark-link-color;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: variables.$dark-text-color;
    background-color: variables.$dark-background-color;
  }

  a:hover {
    color: #747bff;
  }

  .login-icon {
    color: variables.$dark-text-color;
  }

  header {
    color: variables.$light-text-color;
    background-color: variables.$light-background-color;
  }

  .footer {
    background-color: variables.$light-background-color;

    li {
      color: variables.$light-text-color;
    }

    .link-item {
      color: variables.$dark-link-color;

      &:hover {
        color: variables.$light-link-color;
      }
    }
  }
}

aside {
  &.portfolio-disclaimer {
    margin: 10px;
  }
}

.logo-container {
  height: 50px;

  .logo {
    background-color: transparent;
    border: none;

    .logo-img {
      border-radius: 7px;
    }
  }
}
