@use "../abstracts/mixins";
@use "../abstracts/variables";

// Container styles
.container {
  @include mixins.flex-layout-row(space-around, center);
}

// flex
.column {
  @include mixins.flex-layout-column(space-between, center);
}

// btn
.btn-container {
  @include mixins.flex-layout-row(space-around, center);
  margin: 10px;
}

.btn-container__right {
  justify-content: end;
}

.btn-link-container {
  @include mixins.flex-layout-row(right, center);
}

// list
.list-container {
  @include mixins.flex-layout-row(space-around, center);
}

.list-container-col {
  @include mixins.flex-layout-column(flex-start, flex-start);
}

// link
.link-container {
  @include mixins.flex-layout-row(space-around, center);
  margin: auto;

  &__theme {
    margin-bottom: 20px;
  }
}

.link-container-col {
  @include mixins.flex-layout-column(flex-start, flex-start);
}

// login-form
// FIXME: 반응형 코드 수정
.login-form-container {
  border: 1px solid;
  @media (max-width: variables.$breakpoint-lg) {
    margin-top: 30px;
  }
}

// theme-form
.themeForm-container {
  .form-container {
    margin: 0;

    &.flex {
      @include mixins.flex-layout-column(flex-start, baseline);
    }

    .label-container {
      text-align: left;
    }
  }
}
