@use "../abstracts/mixins";
@use "../abstracts/variables";

// header
.header {
  .header-container {
    @include mixins.flex-layout-row(space-between, center);

    .title-container {
      @include mixins.flex-layout-column(space-between, baseline);

      .title {
        margin-bottom: 0;
      }

      .subtitle {
        padding: 5px 10px 10px;
        @include mixins.font-size(16px);
      }
    }

    .link-container {
      @include mixins.flex-layout-row-with-gap(space-around, center, 30px);
      margin-right: 10px;

      .btn {
        text-decoration: none;
        transition: none;
        text-underline-offset: 0;
        @include mixins.size(auto, 45px);

        &.header--btn {
          padding: 10px;
          border-radius: 5px;
          @include mixins.color-scheme-with-border(
            variables.$light-background-color,
            variables.$dark-blue-color,
            variables.$dark-blue-color
          );
          transition: all 0.3s ease;
          transform: none;

          &:hover {
            @include mixins.color-scheme(
              variables.$dark-blue-color,
              variables.$light-background-color
            );
          }
        }
      }
    }
  }
}

// media query
@include mixins.sm-mode {
  .header {
    .header-container {
      @include mixins.flex-layout-column(space-between, baseline);
      padding-bottom: 10px;
    }

    .link-container {
      .btn {
        &.header--btn {
          @include mixins.size(auto, 40px);
        }
      }
    }
  }
}
