@use "../abstracts/mixins";

// loading
.loading-container {
  @include mixins.flex-layout-row(center, center);
  @include mixins.size(100vw, 100vh);
  @include mixins.fixed-top-left;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

// mini-loading
.mini-loading__container {
  @include mixins.flex-layout-row(center, center);
  @include mixins.size(100vw, 20vh);
  @include mixins.fixed-top-left;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

/* spinner */
.spinner {
  position: relative;
  @include mixins.size(5rem, 5rem);
  border-top: 5px solid rgba(#fff, 0.8);
  border-right: 5px solid transparent;
  border-radius: 50%;
  animation: rotation 0.8s linear infinite;
}

// animation
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
