@use "sass:color";
@use "../abstracts/mixins";
@use "../abstracts/variables";

// nav
.nav {
  position: sticky;
  top: 0;
  @include mixins.flex-layout-row(space-between, center);
  padding: 10px;
  background-color: rgba(variables.$light-background-color, 0.7);
  z-index: 1000;

  .link-container {
    @include mixins.size(600px, auto);

    @include mixins.md-mode {
      width: fit-content;
    }

    .link-item {
      @include mixins.font-weight(bold);
      @include mixins.text-color-hover(
        variables.$dark-link-color,
        variables.$light-link-color
      );

      &.btn--no {
        border: none;
        @include mixins.font-size(16px);
        background-color: transparent;
      }
    }

    .link-item--last {
      position: relative;

      .admin-submenu {
        @include mixins.border(1px, solid, #fff);
        border-radius: 4px;
        position: absolute;
        top: 30px;
        left: 0;
        z-index: 10;
        @include mixins.flex-layout-column(space-between, center);
        background-color: variables.$dark-background-color;
        padding: 3px 10px 10px;
        min-width: 100%;
        width: auto;
        white-space: nowrap;

        li {
          @include mixins.border(0, none, transparent);
          border-bottom: 1px solid black;
          padding: 3px;
          width: 100%;

          .link--item {
            @include mixins.color-scheme(
              transparent,
              variables.$light-link-color
            );
            border: none;
            @include mixins.font-size(16px);
            min-width: auto;

            &:hover {
              @include mixins.text-color(variables.$dark-link-color);
            }
          }
        }
      }
    }

    &.link-container__mini {
      @include mixins.size(30px, auto);
      margin: 0;
      @include mixins.flex-layout-row(space-between, center);
      position: relative;

      svg {
        @include mixins.text-color(#000);
      }

      .link-items {
        @include mixins.border(1px, solid, #fff);
        border-radius: 4px;
        position: absolute;
        top: 45px;
        left: 0;
        z-index: 10;
        @include mixins.flex-layout-column(space-between, center);
        @include mixins.color-scheme(
          variables.$dark-background-color,
          variables.$light-background-color
        );
        padding: 3px 10px 10px;

        li {
          width: 100%;
          border-bottom: 1px solid black;
          padding: 3px;

          &.link-item--last {
            border-bottom: none;
          }

          .link-item {
            color: variables.$light-link-color;

            &:hover {
              color: variables.$dark-link-color;
            }
          }
        }
      }
    }
  }

  .btn--signout {
    padding: 10px 5px;
    margin-right: 5px;
    border-radius: 3px;
    border: none;
    @include mixins.color-scheme(
      variables.$dark-background-color,
      variables.$light-background-color
    );
    @include mixins.font-weight(700);

    &:hover {
      background-color: color.scale(
        variables.$dark-background-color,
        $lightness: 5%
      );
    }
  }
}

@include mixins.light-mode {
  .nav {
    background-color: rgba(variables.$dark-background-color, 0.9);

    .link-container {
      &.link-container__mini {
        .link-items {
          @include mixins.border(1.5px, solid, #000);
          li {
            .link-item {
              @include mixins.text-color(white);
            }
          }
        }
      }

      .link-item {
        @include mixins.text-color-hover(
          variables.$light-link-color,
          variables.$dark-link-color
        );
      }
    }

    .btn--signout {
      @include mixins.color-scheme(
        variables.$light-background-color,
        variables.$dark-background-color
      );

      &:hover {
        background-color: color.scale(
          variables.$light-background-color,
          $lightness: -3%
        );
      }
    }
  }
}
