@use "sass:color";
@use "../abstracts/variables";
@use "../abstracts/mixins";

// login
.login-section {
  @include mixins.size(auto, 550px);
  margin: auto;

  &.container {
    justify-content: center;
  }

  @include mixins.xl-mode {
    @include mixins.size(auto, 400px);
  }

  @include mixins.lg-mode {
    @include mixins.size(auto, 350px);
  }
}

.section--home {
  @include mixins.flex-layout-column-with-gap($gap: 50px);

  @include mixins.lg-mode {
    gap: 30px;
  }

  @include mixins.md-mode {
    gap: 20px;
  }

  @include mixins.sm-mode {
    gap: 10px;
  }
}

// main img
.main-section__img {
  margin-top: 25px;
  margin-bottom: 50px;

  @include mixins.md-mode {
    margin-bottom: 30px;
  }

  .guide-container {
    @include mixins.flex-layout-row(space-around, center);

    .guide--text {
      font-weight: 900;
      font-size: 23px;
      transform: skewX(-10deg);
      text-decoration: underline;
      text-underline-offset: 8px;
      text-align: center;
    }

    .img-container {
      @include mixins.size(500px, 600px);
      @include mixins.flex-layout-column();
      box-shadow: 10px 0 40px rgba(0, 0, 0, 0.5);
      margin: 10px;

      .image-part {
        flex: 1;
        overflow: hidden;
        object-fit: fill;

        &.top {
          top: 0;
          animation: move-left 4s infinite;
        }

        &.middle {
          top: 33.33%;
        }

        &.bottom {
          top: 66.67%;
          animation: move-right 4s infinite;
        }
      }
    }
  }
}

@include mixins.lg-mode {
  .main-section__img {
    .guide-container {
      .img-container {
        @include mixins.size(400px, 400px);

        .image-part {
          &.top {
            animation: move-left-mobile 4s infinite;
          }

          &.bottom {
            animation: move-right-mobile 4s infinite;
          }
        }
      }
    }
  }
}
@include mixins.sm-mode {
  .main-section__img {
    .guide-container {
      flex-direction: column;

      .img-container {
        @include mixins.size(300px, 300px);
      }

      .guide--text {
        margin: 25px auto;
      }
    }
  }
}

/* animation */
@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-left-mobile {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-right-mobile {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}

// description
.section--description {
  padding: 10px;

  .info-explanation {
    margin: 20px auto;
    white-space: pre-wrap;
  }
}

// common caution, price, event
.section--caution,
.section--event {
  .section--title {
    color: white;
  }
}

.section--caution,
.section--price,
.theme-slide-section,
.section--event {
  padding: 10px;
  border-radius: 6px;
  margin: 40px 20px;

  .section--title {
    font-size: 30px;
    border: 3px solid;
    border-radius: 5px;
    padding: 5px 0;
  }

  .section--content {
    padding: 10px;
  }
}

// common price, price--one
.section--price,
.section--price--one {
  border: 1px solid;

  .section--title {
    border: none;
  }
}

// price
.section--price {
  .price--line {
    @include mixins.flex-layout-row(center, center);
    padding: 10px;

    .price--list,
    .price--guide {
      @include mixins.flex-layout-column(center, center);

      .price--item {
        @include mixins.flex-layout-row(space-around, center);
      }

      .price {
        width: 150px;
        min-height: 45px;
        line-height: 45px;
        text-align: center;
        border-bottom: 1px solid;

        &:has(.price--themeName) {
          background-color: transparent;
        }

        .price--themeName {
          @include mixins.flex-layout-column(center, center);
        }
      }
    }

    .price--guide {
      border-right: 1px solid;

      .price {
        border-bottom: 1px solid;
        background-color: black;

        &:first-child {
          height: 90px;
          border: none;
        }

        &:nth-child(2) {
          border-top: 1px solid;
        }
      }
    }
  }

  @include mixins.lg-mode {
    .price--line {
      .price--list,
      .price--guide {
        .price {
          @include mixins.size(110px, auto);

          .price--themeName {
            height: 135px;
          }
        }
      }

      .price--guide {
        .price {
          &:first-child {
            height: 135px;
          }
        }
      }
    }
  }

  @include mixins.md-mode {
    .price--line {
      .price--list,
      .price--guide {
        .price {
          @include mixins.size(100px, auto);
        }
      }

      .price--guide {
        .price {
          @include mixins.size(85px, auto);
        }
      }
    }
  }
}

// price one
.section--price--one {
  padding: 40px 10px;

  .price--line {
    flex-direction: column;

    .price--list,
    .price--guide {
      flex-direction: row;

      .price {
        border-bottom: none;
        border-right: 1px solid;

        &:last-child {
          border-right: none;
        }
      }
    }

    .price--list {
      border: 1px solid;
      border-top: none;
    }

    .price--guide {
      border: 1px solid;

      .price {
        border-bottom: none;

        &:first-child {
          height: auto;
          border-right: 1px solid;
        }

        &:nth-child(2) {
          border-top: none;
          border-right: 1px solid;
        }

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  @include mixins.sm-mode {
    .price--line {
      flex-direction: row;

      .price--list,
      .price--guide {
        flex-direction: column;

        .price {
          border-bottom: 1px solid;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      .price--list {
        border-top: 1px solid;
      }

      .price--guide {
        border: 1px solid;

        .price {
          border-right: none;

          &:first-child {
            border-right: none;
            border-bottom: 1px solid;
          }

          &:nth-child(2) {
            border-right: none;
          }

          &:last-child {
            border-right: none;
            border-bottom: none;
          }
        }
      }
    }
  }
}

// price mini
.section--price--mini {
  border: 1px solid;
  border-radius: 6px;
  padding: 10px;

  .section--title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .price--line {
    margin-bottom: 25px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;

    .price--title {
      padding: 5px;
      margin-bottom: 15px;
      @include mixins.flex-layout-column(center, center);
      border-bottom: 1px solid;
      font-size: 18px;
      @include mixins.color-scheme(
        variables.$light-background-color,
        variables.$dark-background-color
      );
    }

    .price--content {
      @include mixins.flex-layout-row(center, center);

      .price--guide--list {
        border-right: 1px solid;

        .price--guide {
          padding: 10px;
          border-bottom: 1px solid;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      .price--list {
        .price {
          padding: 10px;
          border-bottom: 1px solid;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

// caution
.section--caution {
  background-color: #000;
  box-shadow: 0px 3px 4px 4px rgba(0, 0, 0, 0.5);
}

// event
.section--event {
  background-color: color.scale(
    variables.$dark-background-color,
    $lightness: 10%
  );
  box-shadow: 0px 3px 3px 4px rgba(0, 0, 0, 0.1);

  .section--title {
    border: none;
    text-decoration: underline;
    text-underline-offset: 6px;
  }

  @include mixins.light-mode {
    box-shadow: 0px 3px 3px 4px rgba(0, 0, 0, 0.3);
  }
}

// img update
.img-update--section {
  @include mixins.flex-layout-column-with-gap(center, center, 10px);
  margin-top: 20px;

  .presentImg-container {
    @include mixins.flex-layout-column-with-gap(center, center, 30px);
  }

  .btn-container {
    gap: 50px;
    margin-top: 50px;
  }
}

// btn contain
.btn--contain--section {
  @include mixins.flex-layout-row-with-gap(space-between, center, 20px);
  margin-top: 10px;
  flex-wrap: wrap;

  .btn-container:has(.btn--link) {
    margin: 0;
  }

  @include mixins.lg-mode {
    & {
      gap: 10px;

      .btn-container:has(.btn--link) {
        width: 100%;
        justify-content: flex-end;
      }
    }
  }

  @include mixins.sm-mode {
    & {
      gap: 0;
    }
  }
}

// admin form
.admin--form--section {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  border: 2px solid;
  padding: 10px;
  margin: auto;
  border-radius: 7px;
  z-index: 30;
  overflow-y: auto;
  background-color: variables.$dark-background-color;

  .title {
    text-align: center;
    font-size: 27px;
  }
}

@mixin light-mode {
  .section--caution,
  .section--price,
  .theme-slide-section,
  .section--event {
    @include mixins.border(1px, solid, variables.$light-text-color);
  }

  .section--price {
    .price--line {
      .price--guide {
        color: white;
        border: 1px solid black;
      }
    }
  }

  .section--price--mini {
    .price--line {
      .price--title {
        @include mixins.color-scheme(
          variables.$dark-background-color,
          variables.$light-background-color
        );
      }
    }
  }

  .admin--form--section {
    background-color: variables.$light-background-color;
  }
}
.theme-day-reservation--section,
.theme-total-reservation--section,
.day-reservation--section {
  margin-bottom: 50px;
}
