@use "../abstracts/variables";
@use "../abstracts/mixins";

.login-section {
  height: 550px;

  &.container {
    justify-content: center;
  }

  @media (max-width: variables.$breakpoint-xl) {
    // 992px 미만의 화면에 적용될 스타일
    height: 400px;
  }

  @media (max-width: variables.$breakpoint-lg) {
    // 992px 미만의 화면에 적용될 스타일
    height: 350px;
  }
}

.section-description {
  padding: 10px;

  .info-explanation {
    margin: 20px auto;
    white-space: pre-wrap;
  }
}

.section-caution {
  @include mixins.border(1px, solid, white);
  padding: 10px;
  border-radius: 6px;

  .section--title {
    font-size: 20px;
  }

  .section--content {
    padding: 10px;
  }
}
