@use "sass:color";

// * 색상 관련 변수
// FIXME: 버튼 색상 변경해야 함
$primary-color: royalblue;
$hover-color: color.adjust($primary-color, $lightness: -10%);
$active-color: color.adjust($primary-color, $lightness: -20%);

$secondary-color: #008080;
$tertiary-color: #607d8b;

$heading-color: #333;
$background-color: #f4f4f4;
$light-background-color: #ffebcd;
$dark-background-color: #955514;

$confirm-border-color: rgb(228, 210, 238);
$confirm-button-color: rgb(180, 151, 231);
$confirm-text-color: rgb(72, 61, 139);
$confirm-bg-color: rgb(250, 245, 255);

$delete-btn-color: rgb(225, 62, 62);

$dark-text-color: rgba(255, 255, 255, 0.87);
$light-text-color: #213547;

$dark-blue-color: #282c78;
$light-blue-color: #646cff;

$dark-link-color: #132b96;
$light-link-color: #739bfa;

// * SCSS 변수로 브레이크포인트 정의(max-width)
$breakpoint-xl: 1199px; // 1200px 미만 -> 초대형 화면 (대형 데스크탑)
$breakpoint-lg: 991px; // 992px 미만 -> 큰 화면 (데스크탑)
$breakpoint-md: 767px; // 768px 미만 -> 중간 화면 (태블릿)
$breakpoint-sm: 575px; // 576px 미만 -> 작은 화면 (모바일)

/* // * 미디어쿼리 예시
.example-class {
  1200px 이상의 큰 화면에 대한 기본 스타일

  @media (max-width: $breakpoint-xl) {
    1200px 미만의 화면에 적용될 스타일
  }

  @media (max-width: $breakpoint-lg) {
    992px 미만의 화면에 적용될 스타일
  }

  @media (max-width: $breakpoint-md) {
    768px 미만의 화면에 적용될 스타일
  }

  @media (max-width: $breakpoint-sm) {
    576px 미만의 화면에 적용될 스타일
  }
}
*/
