@use "sass:color";
@use "../abstracts//mixins";
@use "../abstracts/variables";

.account--section {
  .account--list {
    border: 1px solid;
    padding: 10px 10px 0;

    .account--item {
      @include mixins.flex-layout-row(space-around, center);
      width: 100%;
      padding: 10px;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid;

      &.account--header {
        .content {
          font-size: 20px;
          font-weight: 700;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      &:not(.account--header):hover {
        background-color: color.scale(
          variables.$dark-background-color,
          $lightness: 10%
        );
      }

      .content {
        font-size: 16px;
        text-align: center;

        &.content--sm {
          width: 150px;
        }

        &.content--md {
          width: 250px;
        }

        &.content--lg {
          width: 350px;
        }

        &.roles-container {
          @include mixins.flex-layout-row(center, center);
          gap: 10px;
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .account--section {
    .account--list {
      .account--item {
        &:not(.account--header):hover {
          background-color: color.scale(
            variables.$light-background-color,
            $lightness: -10%
          );
        }
      }
    }
  }
}
