@use "sass:color";
@use "../abstracts//mixins";
@use "../abstracts/variables";

.account--section {
  .account--list {
    border: 1px solid;
    padding: 10px 10px 0;

    .account--item {
      @include mixins.flex-layout-row(space-around, center);
      width: 100%;
      padding: 7px 10px;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid;

      &.account--header {
        padding-top: 0px;
        padding-bottom: 10px;

        .content {
          font-size: 20px;
          font-weight: 700;
          text-align: center;

          &.content--xs {
            width: 130px;
          }

          &.content--sm {
            width: 150px;
          }

          &.content--md {
            width: 250px;
          }

          &.content--lg {
            width: 330px;
          }
        }
      }

      &:last-child {
        border-bottom: none;
      }

      &:not(.account--header):hover {
        background-color: color.scale(
          variables.$dark-background-color,
          $lightness: 10%
        );
      }

      .account--item-content {
        @include mixins.flex-layout-row(space-around, center);
        width: 100%;
        border: none;
        background-color: transparent;
        height: 37px;

        .content {
          font-size: 16px;
          text-align: center;

          &.content--xs {
            width: 130px;
          }

          &.content--sm {
            width: 150px;
          }

          &.content--md {
            width: 250px;
          }

          &.content--lg {
            width: 330px;
          }

          &.roles-container {
            @include mixins.flex-layout-row(center, center);
            gap: 10px;
          }
        }
      }
    }
  }

  @media (max-width: variables.$breakpoint-lg) {
    & {
      .account--list {
        .account--item {
          padding: 10px 0;

          &.account--header {
            .content {
              font-size: 18px;

              &.content--xs {
                width: 90px;
              }

              &.content--sm {
                width: 130px;
              }

              &.content--md {
                width: 210px;
              }

              &.content--lg {
                width: 260px;
              }
            }
          }

          .account--item-content {
            .content {
              font-size: 16px;

              &.content--xs {
                width: 90px;
              }

              &.content--sm {
                width: 130px;

                .btn.delete {
                  padding: 8px 13px;
                }
              }

              &.content--md {
                width: 210px;
              }

              &.content--lg {
                width: 260px;
              }

              &.roles-container {
                gap: 8px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: variables.$breakpoint-md) {
    .account--list {
      .account--item {
        &.account--header {
          .content {
            &.content--email {
              display: none;
            }
          }
        }

        .account--item-content {
          .content {
            &.content--email {
              display: none;
            }
          }
        }
      }
    }
  }

  @media (max-width: variables.$breakpoint-sm) {
    .account--list {
      .account--item {
        &.account--header {
          .content {
            &.content--phone {
              display: none;
            }
          }
        }

        .account--item-content {
          .content {
            &.content--phone {
              display: none;
            }
          }
        }
      }
    }
  }
}

.admin--detail--container {
  .admin--detail--header--container {
    @include mixins.flex-layout-row(space-between, center);
    .admin--detail--header {
      margin-left: 20px;
      text-decoration: underline;
      text-underline-offset: 7px;
    }
  }

  .admin--detail {
    padding: 10px;
    border: 2px solid;
    border-radius: 4px;

    .admin--detail--content {
      @include mixins.flex-layout-column(flex-start, baseline);
      gap: 20px;

      .admin-edit--form {
        width: 100%;

        .form-container {
          &.column {
            align-items: baseline;
          }

          .label-container {
            font-weight: 700;
            font-size: 18px;
            min-width: 120px;
            text-align: center;
          }
        }

        .roles-checkbox-group {
          @include mixins.flex-layout-row(flex-start, baseline);
          padding: 10px;

          .role-label-container {
            font-weight: 700;
            font-size: 18px;
            min-width: 120px;
            text-align: center;
          }

          .checkbox-container {
            border: 1px solid;
            padding: 5px 10px;
            margin: 10px 5px 15px;

            .role-checkbox {
              @include mixins.flex-layout-row(flex-start, baseline);
              gap: 20px;
              margin: 10px;

              .checkbox--role {
                margin: 0;
              }

              .label--role {
                width: 200px;
                margin: 0;
              }
            }
          }
        }
      }

      .admin--detail--item {
        padding: 10px;
        @include mixins.flex-layout-row(flex-start, center);
        gap: 10px;

        .admin--detail--label {
          font-weight: 700;
          font-size: 18px;
          min-width: 70px;
          text-align: center;

          @media (max-width: variables.$breakpoint-sm) {
            & {
              font-size: 16px;
            }
          }
        }

        .admin--detail--value {
          padding: 5px 10px;
          border: 1px solid;
          margin: 0;
          font-size: 18px;
          min-width: 400px;
          @include mixins.flex-layout-row(flex-start, center);
          flex-wrap: wrap;

          @media (max-width: variables.$breakpoint-sm) {
            & {
              font-size: 16px;
              min-width: 300px;
            }
          }

          @media (max-width: 414px) {
            & {
              min-width: 260px;
            }
          }
        }

        .roles-checkbox-group {
          .role-checkbox {
            @include mixins.flex-layout-row(flex-start, center);
            gap: 20px;
            margin: 10px;

            .checkbox--role {
              margin: 0;
            }

            .label--role {
              width: 200px;
            }
          }
        }

        @media (max-width: 414px) {
          & {
            padding: 5px;
            gap: 0;
          }
        }
      }

      .btn-container {
        justify-content: center;
        margin: 10px auto;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .account--section {
    .account--list {
      .account--item {
        &:not(.account--header):hover {
          background-color: color.scale(
            variables.$light-background-color,
            $lightness: -10%
          );
        }
      }
    }
  }
}
