@use "sass:color";
@use "../abstracts//mixins";
@use "../abstracts/variables";

.account--section {
  .account--list {
    border: 1px solid;
    padding: 10px 10px 0;

    .account--item {
      @include mixins.flex-layout-row(space-around, center);
      width: 100%;
      padding: 7px 10px;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid;

      &.account--header {
        padding-top: 0px;
        padding-bottom: 10px;

        .content {
          font-size: 20px;
          font-weight: 700;
          text-align: center;

          &.content--xs {
            @include mixins.size(130px, auto);
          }

          &.content--sm {
            @include mixins.size(150px, auto);
          }

          &.content--md {
            @include mixins.size(250px, auto);
          }

          &.content--lg {
            @include mixins.size(330px, auto);
          }
        }
      }

      &:last-child {
        border-bottom: none;
      }

      &:not(.account--header):hover {
        background-color: color.scale(
          variables.$dark-background-color,
          $lightness: 10%
        );
      }

      .account--item-content {
        @include mixins.flex-layout-row(space-around, center);
        @include mixins.size(100%, 37px);
        border: none;
        background-color: transparent;

        .content {
          font-size: 16px;
          text-align: center;

          &.content--xs {
            @include mixins.size(130px, auto);
          }

          &.content--sm {
            @include mixins.size(150px, auto);
          }

          &.content--md {
            @include mixins.size(250px, auto);
          }

          &.content--lg {
            @include mixins.size(330px, auto);
          }

          &.roles-container {
            @include mixins.flex-layout-row-with-gap(center, center, 10px);
          }
        }
      }
    }
  }

  @include mixins.lg-mode {
    .account--list {
      .account--item {
        padding: 10px 0;

        &.account--header {
          .content {
            font-size: 18px;

            &.content--xs {
              @include mixins.size(90px, auto);
            }

            &.content--sm {
              @include mixins.size(130px, auto);
            }

            &.content--md {
              @include mixins.size(210px, auto);
            }

            &.content--lg {
              @include mixins.size(260px, auto);
            }
          }
        }

        .account--item-content {
          .content {
            font-size: 16px;

            &.content--xs {
              @include mixins.size(90px, auto);
            }

            &.content--sm {
              @include mixins.size(130px, auto);
              .btn.delete {
                padding: 8px 13px;
              }
            }

            &.content--md {
              @include mixins.size(210px, auto);
            }

            &.content--lg {
              @include mixins.size(260px, auto);
            }

            &.roles-container {
              @include mixins.flex-layout-row-with-gap(center, center, 8px);
            }
          }
        }
      }
    }
  }

  @include mixins.md-mode {
    .account--list {
      .account--item {
        &.account--header,
        .account--item-content {
          .content.content--email {
            display: none;
          }
        }
      }
    }
  }

  @include mixins.sm-mode {
    .account--list {
      .account--item {
        &.account--header,
        .account--item-content {
          .content.content--phone {
            display: none;
          }
        }
      }
    }
  }
}

.admin--detail--container {
  .admin--detail--header--container {
    @include mixins.flex-layout-row(space-between, center);
    .admin--detail--header {
      margin-left: 20px;
      text-decoration: underline;
      text-underline-offset: 7px;
    }
  }

  .admin--detail {
    padding: 10px;
    border: 2px solid;
    border-radius: 4px;

    .admin--detail--content {
      @include mixins.flex-layout-column-with-gap(flex-start, baseline, 20px);

      .admin-edit--form {
        width: 100%;

        .form-container {
          &.column {
            align-items: baseline;
          }

          .label-container {
            font-weight: 700;
            font-size: 18px;
            min-width: 120px;
            text-align: center;
          }
        }

        .roles-checkbox-group {
          @include mixins.flex-layout-row(flex-start, baseline);
          padding: 10px;

          .role-label-container {
            font-weight: 700;
            font-size: 18px;
            min-width: 120px;
            text-align: center;
          }

          .checkbox-container {
            border: 1px solid;
            padding: 5px 10px;
            margin: 10px 5px 15px;

            .role-checkbox {
              @include mixins.flex-layout-row-with-gap(
                flex-start,
                baseline,
                20px
              );
              margin: 10px;

              .checkbox--role {
                margin: 0;
              }

              .label--role {
                width: 200px;
                margin: 0;
              }
            }
          }
        }

        @include mixins.sm-mode {
          .form-container {
            .container {
              flex-direction: column;
              align-items: flex-start;

              .label-container {
                text-align: left;
                margin: 5px 5px 0;
              }
            }
          }

          .roles-checkbox-group {
            flex-direction: column;

            .role-label-container {
              text-align: left;
            }
          }
        }

        @include mixins.xs-mode {
          .form-container {
            .container {
              .label-container {
                margin: 0 0 5px;

                label,
                .role--label {
                  &::after {
                    content: ":";
                  }
                }
              }

              .input-container {
                margin: 0;

                &.input-container__m {
                  width: 322px;
                }
              }
            }
          }
        }
      }

      .admin--detail--item {
        padding: 10px;
        @include mixins.flex-layout-row-with-gap(flex-start, center, 10px);

        .admin--detail--label {
          font-weight: 700;
          font-size: 18px;
          min-width: 70px;
          text-align: center;

          @include mixins.sm-mode {
            font-size: 16px;
            text-align: left;

            &::after {
              content: ":";
            }
          }
        }

        .admin--detail--value {
          padding: 5px 10px;
          border: 1px solid;
          margin: 0;
          font-size: 18px;
          min-width: 400px;
          @include mixins.flex-layout-row(flex-start, center);
          flex-wrap: wrap;

          @include mixins.sm-mode {
            font-size: 16px;
            min-width: 300px;
          }

          @include mixins.xs-mode {
            min-width: 260px;
          }
        }

        .roles-checkbox-group {
          .role-checkbox {
            @include mixins.flex-layout-row-with-gap(flex-start, center, 20px);
            margin: 10px;

            .checkbox--role {
              margin: 0;
            }

            .label--role {
              width: 200px;
            }
          }
        }

        @include mixins.sm-mode {
          padding: 5px;
          gap: 10px;
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .btn-container {
        justify-content: center;
        margin: 10px auto;
      }
    }

    @include mixins.sm-mode {
      padding: 10px 5px;
    }
  }
}

@include mixins.light-mode {
  .account--section {
    .account--list {
      .account--item {
        &:not(.account--header):hover {
          background-color: color.scale(
            variables.$light-background-color,
            $lightness: -10%
          );
        }
      }
    }
  }
}
