@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "sass:color";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  @include mixins.color-scheme(variables.$light-blue-color, white);

  &:hover {
    text-decoration: none;
    background-color: color.scale(variables.$light-blue-color, $lightness: 5%);
  }

  &.btn--link {
    border: 1px solid;
    transform: none;
    background-color: variables.$primary-color;

    &:hover {
      @include mixins.color-scheme(
        variables.$dark-text-color,
        variables.$dark-blue-color
      );
    }
  }

  &.delete {
    background-color: variables.$delete-btn-color;

    &:hover {
      background-color: color.scale(
        variables.$delete-btn-color,
        $lightness: 5%
      );
    }

    &:active {
      background-color: color.scale(
        variables.$delete-btn-color,
        $lightness: -10%
      );
    }
  }

  &.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 15px;
    @include mixins.color-scheme(#fff, #000);
    border: none;
    padding: 7px;
    cursor: pointer;

    .icon {
      @include mixins.size(30px, 30px);
    }
  }
}

@mixin lg-mode {
  .btn {
    &.btn--search {
      padding: 7px 10px;
    }
  }
}

@mixin light-mode {
  .btn {
    background-color: variables.$light-text-color;

    &:hover {
      background-color: color.scale(
        variables.$light-text-color,
        $lightness: 7%
      );
    }

    &.delete {
      color: white;
    }

    &.scroll-to-top-button {
      @include mixins.color-scheme(#000, #fff);
    }

    &.btn--link {
      border-color: variables.$light-text-color;
    }
  }
}
