.cs-body {
  width: 1000px;
  height: 1000px;
  border: 1px solid black;
  position: relative; // 추가

  .cs-header {
    width: 1000px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 1px solid black;
  }

  .cs-move {
    margin-top: 30px;
    display: flex;
    div {
      width: 500px;
      height: 40px;
      border: 1px solid black;
      text-align: center;
      padding-top: 5px;
    }
  }

  .cs-add-button {
    position: absolute; // 추가
    right: 0; // 오른쪽 끝으로 배치
    margin-top: 30px;
    button {
      width: 100px;
      height: 30px;
    }
  }

  .cs-main-container {
    margin-top: 90px;
    width: 1000px;
    height: 660px;
    border: 1px solid black;

    .faq-container {
      border-collapse: collapse;
      .faq-tr-content {
        td {
          height: 60px;
          width: 300px;
          border: 1px solid black;
          padding-left: 20px;
        }
      }
      .faq-tr-header {
        text-align: center;
        padding: 0;
        td {
          border: 1px solid black;
        }
      }

      .faq-title {
        width: 700px;
        height: 60px;
      }
    }
  }
}
