.section-cs {
  margin: auto;
  width: 1000px;
  height: 1000px;
  border: 1px solid black;

  .cs-body {
    .cs-header {
      width: 1000px;
      height: 100px;
      text-align: center;
      line-height: 100px;
      border: 1px solid black;
    }

    .cs-move {
      margin-top: 30px;
      display: flex;
      div {
        width: 500px;
        height: 40px;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
      }
    }

    .btn-container {
      justify-content: flex-end;
      margin-top: 30px;
      .btn {
        width: 100px;
        height: 30px;
      }
    }

    .cs-main-container {
      margin-top: 30px;
      width: 1000px;
      height: 660px;
      border: 1px solid black;

      .faq-container {
        list-style-type: none; /* 기본적인 li 스타일 제거 */
        padding: 0;
        margin: 0;
        display: table; /* ul을 테이블처럼 보이게 만듦 */
        width: 100%; /* 테이블 너비를 100%로 설정 */
        border-collapse: collapse; /* 셀의 경계선을 하나로 합침 */
      }

      .faq-li-header {
        display: table-row; /* li를 테이블 행으로 설정 */
        font-weight: bold; /* 제목 행은 굵게 */
        background-color: #f4f4f4; /* 헤더에 배경색 추가 */
        padding: 10px; /* 여백 추가 */
      }

      .faq-title,
      .faq-li-header div {
        display: table-cell; /* 각 항목을 테이블 셀로 설정 */
        padding: 8px; /* 각 셀에 여백 추가 */
        border: 1px solid #ddd; /* 셀에 테두리 추가 */
      }

      .faq-li-header .faq-title {
        width: 60%; /* 제목 열의 너비를 설정 */
      }

      .faq-li-header div {
        width: 40%; /* 날짜 열의 너비를 설정 */
      }

      .faq-tr-content {
        display: table-row; /* 각 FAQ 항목을 테이블 행으로 설정 */
      }

      .faq-tr-content div {
        display: table-cell; /* 항목들을 셀로 설정 */
        padding: 8px;
        border: 1px solid #ddd; /* 셀에 테두리 추가 */
      }
    }
  }
}

.faqadd-input-box {
  width: 1000px;
  height: 800px;
  border: 1px solid black;
  position: relative;
  padding: 50px;

  div {
    margin-top: 20px;
  }
  input {
    background-color: white;
    width: 600px;
    height: 30px;
    border: 1px solid black;
  }
  textarea {
    width: 600px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
  }
}
