@use "../abstracts/mixins";
@use "../abstracts/variables";

.map--info {
  margin: 30px auto 70px;

  #map {
    @include mixins.size(90%, 600px);
    margin: auto;
  }
}

.simple--info {
  margin-bottom: 100px;

  .info--list {
    @include mixins.flex-layout-row(space-around, center);

    .info--item {
      @include mixins.flex-layout-column(space-around, center);
      border: 1px solid;
      padding: 5px 15px 20px;
      border-radius: 5px;
      box-shadow: 1px 3px 7px;
      @include mixins.size(250px, 170px);
      text-align: center;

      .icon {
        margin-top: 5px;
        @include mixins.size(32px, 32px);
      }

      .title {
        padding: 10px;
        margin: 5px;
      }
    }
  }
}

@mixin xl-mode {
  .map--info {
    #map {
      height: 500px;
    }
  }
}

@mixin lg-mode {
  .map--info {
    #map {
      height: 400px;
    }
  }
}

@mixin md-mode {
  .map--info {
    #map {
      @include mixins.size(100%, 300px);
    }
  }

  .simple--info {
    .info--list {
      flex-direction: column;
      gap: 50px;
    }
  }
}
