@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "sass:color";

.confirm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @include mixins.flex-layout-row(center, center);
  z-index: 9998;

  .confirm-modal {
    @include mixins.border(1px, solid, variables.$confirm-border-color);
    border-radius: 12px;
    padding: 10px;
    margin: auto;
    background-color: variables.$confirm-bg-color;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;

    .confirm-modal__msg {
      color: variables.$confirm-text-color;
      min-width: 400px;
      min-height: 55px;
      margin-bottom: 20px;
      font-weight: 700;
    }

    .confirm-modal__btn-container {
      display: flex;
      justify-content: flex-end;

      .confirm-modal__btn {
        margin-left: 10px;
        padding: 8px 16px;
        border-radius: 4px;
        color: variables.$confirm-text-color;
      }

      .confirm-modal__btn--cancel {
        background-color: variables.$confirm-bg-color;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: color.adjust(
            variables.$confirm-bg-color,
            $lightness: -5%
          );
          color: variables.$confirm-text-color;
        }
      }

      .confirm-modal__btn--confirm {
        @include mixins.color-scheme(variables.$confirm-button-color, white);
        transition: background-color 0.3s ease;

        &:hover {
          @include mixins.color-scheme(
            color.adjust(variables.$confirm-button-color, $lightness: -15%),
            white
          );
        }
      }
    }
  }
}
