@use "../abstracts/mixins";
@use "../abstracts/variables" as variables;
@use "sass:color";

.reservation-list-container {
  display: flex;
  background: variables.$light-background-color;
  color: variables.$light-text-color;

  @include mixins.dark-mode {
    background: variables.$dark-background-color;
    color: variables.$dark-text-color;
  }

  @include mixins.md-mode {
    font-size: 18px;
  }
  @include mixins.sm-mode {
    font-size: 0.97rem;
  }

  .reservation--list {
    width: 100%;
    font-size: 25px;
    text-align: center;
    border: 1px solid variables.$confirm-border-color;
    background: inherit;
    color: inherit;

    @include mixins.sm-mode {
      font-size: 18px;
    }

    .reservation--item {
      @include mixins.flex-layout-row(space-around, center);
      border-bottom: 1px solid variables.$confirm-border-color;
      background: inherit;
      color: inherit;

      @include mixins.sm-mode {
        font-size: 0.95rem;
      }

      .title {
        padding: 10px;
        text-decoration: none;

        &.title__sm {
          width: 100px;
        }
        &.title__md {
          width: 200px;
        }
        &.title__lg {
          width: 300px;
        }
      }

      .detail--link {
        @include mixins.flex-layout-row(space-around, center);
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;

        .content {
          padding: 10px;

          &.content__sm {
            width: 100px;
          }
          &.content__md {
            width: 200px;
          }
          &.content__lg {
            width: 300px;
          }
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.reservation-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background: variables.$light-background-color;
  color: variables.$light-text-color;

  @include mixins.dark-mode {
    background: variables.$dark-background-color;
    color: variables.$dark-text-color;
  }

  @include mixins.sm-mode {
    padding: 10px;
    font-size: 0.97rem;
  }

  .return-admin-reservation-list {
    margin: 10px;
    padding: 12px 32px;
    font-size: 18px;
    border-radius: 6px;
    background: #222;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.2s;

    @include mixins.dark-mode {
      background: #fff;
      color: #222;
    }

    &:hover {
      background: #444;

      @include mixins.dark-mode {
        background: #ccc;
      }
    }
  }

  .reservation-detail {
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
    background: inherit;
    color: inherit;

    @include mixins.sm-mode {
      padding: 10px;
      font-size: 0.97rem;
    }

    h1 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    p {
      font-size: 22px;
      margin: 10px 0;
      line-height: 1.5;
      padding: 10px;
    }
  }
}

.reservation-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 30px;
  background: variables.$light-background-color;
  color: variables.$light-text-color;

  @include mixins.dark-mode {
    background: variables.$dark-background-color;
    color: variables.$dark-text-color;
  }

  @include mixins.md-mode {
    padding: 12px;
    max-width: 100%;
  }
  @include mixins.sm-mode {
    padding: 8px;
  }

  .reservation-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;

    @include mixins.sm-mode {
      font-size: 20px;
    }
  }

  .reservation-form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include mixins.sm-mode {
      gap: 15px;
    }
  }

  .form-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
    flex-wrap: wrap;

    @include mixins.sm-mode {
      flex-direction: column;
      gap: 10px;
    }
  }

  .section-title {
    margin-bottom: 15px;
    text-align: center;
    font-size: 22px;

    @include mixins.sm-mode {
      font-size: 18px;
    }
  }

  .date-section,
  .time-section,
  .theme-section {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .date-section {
    flex: 1;
    .react-calendar {
      flex-grow: 1;
      background: white;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 10px;

      @include mixins.dark-mode {
        background: color.adjust(
          variables.$dark-background-color,
          $lightness: 10%
        );
        border-color: variables.$dark-text-color;
        color: variables.$dark-text-color;

        .react-calendar__tile {
          &--active {
            background: #007bff;
            color: variables.$light-background-color !important;
          }

          &--now {
            background: color.adjust(
              variables.$dark-background-color,
              $lightness: 15%
            );
          }

          &--disabled {
            color: variables.$light-background-color;
            background-color: gray;
          }
        }
      }
      @include mixins.sm-mode {
        padding: 5px;
      }
    }
  }

  .time-section {
    .time-slots {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      align-content: start;

      @include mixins.sm-mode {
        grid-template-columns: 1fr;
      }
    }

    .time-slot {
      background-color: #f0f0f0;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      border-radius: 5px;

      &:hover {
        background-color: #e0e0e0;
      }

      &.selected {
        background-color: #007bff;
        color: white;
      }

      &.unavailable {
        background-color: #ffcccb;
        color: #666;
        cursor: not-allowed;
        opacity: 0.7;

        &:hover {
          background-color: #ffcccb;
        }
      }

      @include mixins.dark-mode {
        background: color.adjust(
          variables.$dark-background-color,
          $lightness: 10%
        );
        color: variables.$dark-text-color;

        &:hover {
          background-color: color.scale(
            variables.$dark-background-color,
            $lightness: 10%
          );
        }
      }
      @include mixins.sm-mode {
        font-size: 0.97rem;
        padding: 8px 10px;
      }
    }

    .time-guide {
      text-align: center;
      font-size: 17px;

      @include mixins.sm-mode {
        font-size: 15px;
      }
    }
  }

  .theme-section {
    margin-top: 0;

    .theme-slots {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include mixins.sm-mode {
        gap: 7px;
      }
    }

    .theme-slot {
      width: 100%;
      background-color: #f0f0f0;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      border-radius: 5px;
      text-align: left;
      transition: background-color 0.3s, color 0.3s, font-weight 0.1s;

      &:hover {
        background-color: #e0e0e0;
        font-weight: 600;
      }

      &.selected {
        background-color: #007bff;
        color: white;
      }

      @include mixins.dark-mode {
        background: color.adjust(
          variables.$dark-background-color,
          $lightness: 10%
        );
        color: variables.$dark-text-color;

        &:hover {
          background-color: color.scale(
            variables.$dark-background-color,
            $lightness: 10%
          );
        }
      }
      @include mixins.sm-mode {
        font-size: 0.97rem;
        padding: 8px 10px;
      }
    }
  }

  .submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;

    @include mixins.dark-mode {
      background-color: variables.$dark-blue-color;
      color: variables.$dark-text-color;
    }

    @include mixins.sm-mode {
      font-size: 1rem;
      padding: 10px;
    }

    &:hover {
      font-weight: 600;
      background-color: color.scale(#28a745, $lightness: 10%);
    }
  }

  .check-button {
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: variables.$dark-text-color;
    background-color: variables.$light-text-color;

    &:hover {
      font-weight: 600;
      background-color: color.scale(
        variables.$light-text-color,
        $lightness: 10%
      );
    }

    @include mixins.dark-mode {
      background-color: variables.$dark-link-color;

      &:hover {
        background-color: color.scale(
          variables.$dark-link-color,
          $lightness: 5%
        );
      }
    }
    @include mixins.sm-mode {
      font-size: 1rem;
      padding: 10px;
    }
  }
}

.reservation-confirm-page {
  max-width: 800px;
  margin: 10px auto 50px auto;
  padding: 20px;
  background-color: variables.$light-background-color;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  @include mixins.dark-mode {
    background-color: variables.$dark-background-color;
    color: variables.$dark-text-color;
  }

  @include mixins.md-mode {
    max-width: 100%;
    padding: 12px;
  }
  @include mixins.sm-mode {
    padding: 8px;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 30px;
    color: variables.$primary-color;

    @include mixins.sm-mode {
      font-size: 22px;
    }
  }

  .reservation-details {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 600px;
      margin-bottom: 20px;

      @include mixins.sm-mode {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
      }

      label {
        flex-basis: 30%;
        font-size: 18px;
        font-weight: bold;
        color: variables.$light-text-color;
        text-align: center;
        background-color: variables.$confirm-bg-color;
        padding: 10px;
        border-radius: 4px;
        margin-right: 15px;

        @include mixins.sm-mode {
          width: 100%;
          font-size: 16px;
          margin-right: 0;
        }
      }

      div {
        flex-basis: 65%;
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        background-color: variables.$light-background-color;
        text-align: left;

        @include mixins.sm-mode {
          width: 100%;
          font-size: 15px;
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 600px;
      margin-bottom: 20px;

      @include mixins.sm-mode {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
      }

      label {
        flex-basis: 30%;
        font-size: 18px;
        font-weight: bold;
        color: variables.$light-text-color;
        text-align: center;
        background-color: variables.$confirm-bg-color;
        padding: 10px;
        border-radius: 4px;
        margin-right: 15px;
        width: 150px;

        @include mixins.sm-mode {
          width: 100%;
          font-size: 16px;
          margin-right: 0;
        }
      }

      input,
      select {
        flex-basis: 65%;
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid variables.$confirm-border-color;

        &:focus {
          outline: none;
          border-color: variables.$primary-color;
          box-shadow: inset 0 0 5px rgba(0, 123, 255, 0.5);
        }

        @include mixins.sm-mode {
          width: 100%;
          font-size: 15px;
        }
      }

      div {
        color: black;
      }

      p {
        color: black;
      }
    }

    .submit-button {
      width: fit-content;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: variables.$confirm-button-color;
      color: variables.$confirm-text-color;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;

      &:hover {
        background-color: rgb(149, 103, 228);
      }

      @include mixins.sm-mode {
        width: 100%;
        font-size: 1rem;
        padding: 10px;
      }
    }
  }
}

.reservation-summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

  .reservation-summary {
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    @include mixins.dark-mode {
      background-color: variables.$light-background-color;
      color: black;
    }

    @include mixins.sm-mode {
      padding: 10px;
      font-size: 0.97rem;
    }

    h1 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    p {
      font-size: 22px;
      margin: 10px 0;
      line-height: 1.5;
      padding: 10px;
    }
  }
}

/* 모달 컨테이너 */
.reservation-check-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  border-radius: 8px;
  padding: 20px;
  min-width: 500px;
  background-color: variables.$background-color;
  color: variables.$light-text-color;

  @include mixins.dark-mode {
    background-color: variables.$dark-background-color;
    color: variables.$dark-text-color;
  }

  @include mixins.sm-mode {
    min-width: 100%;
    padding: 10px;
    font-size: 0.97rem;
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    width: 100%;

    .modal-content-header {
      text-align: center;
    }

    .modal-form {
      @include mixins.flex-layout-column-with-gap(flex-start, center, 10px);

      .input-container {
        width: 100%;
        border: 1px solid;

        label,
        input {
          color: variables.$light-text-color;
          margin: 0;
        }

        label {
          width: 70px;
          text-align: center;
        }

        input {
          width: 300px;

          @include mixins.sm-mode {
            width: 100%;
          }
        }
      }

      .btn-container {
        width: 100%;
      }
    }
  }
}

.admin-reservation-page {
  min-height: 600px;

  .search-form {
    @include mixins.flex-layout-row-with-gap($align: center, $gap: 10px);

    .search-select {
      font-size: 16px;
      padding: 3px;
      height: 39px;

      @include mixins.sm-mode {
        font-size: 14px;
        height: 32px;
      }
    }

    .search-input {
      display: inline-block;
      width: 250px;
      height: 39px;
      margin: 0;
      font-size: 20px;
      border: 1px solid #000;
      background-color: #fff;
      padding: 3px;
      color: #000;

      @include mixins.dark-mode {
        border-color: #fff;
      }

      @include mixins.sm-mode {
        width: 100%;
        font-size: 16px;
        height: 32px;
      }
    }

    .btn-container {
      gap: 10px;
    }
  }
}
