@use "../abstracts//variables";
@use "../abstracts/mixins";

.theme-page--info {
  max-width: 1100px;
  margin: 70px auto 20px;
  border: 1px solid;
  border-radius: 50%;
  padding: 10px;

  .theme--title {
    font-size: 20px;
  }

  .theme--explanation {
    font-size: 17px;
    white-space: pre-wrap;
  }

  @mixin sm-mode {
    height: 400px;
    @include mixins.flex-layout-column(center, center);

    .theme--title {
      font-size: 18px;
      margin-bottom: 30px;
    }

    .theme--explanation {
      font-size: 16px;
    }
  }
}

.theme-section {
  margin-top: 50px;

  .theme-page--theme-section {
    .theme--list {
      @include mixins.flex-layout-row-with-gap(space-around, center, 10px);
      flex-wrap: wrap;

      .theme--item {
        margin: 30px auto;

        .img-container {
          @include mixins.size(400px, 400px);
          margin-bottom: 20px;

          .img {
            @include mixins.size(100%, 100%);
            border-radius: 4px;
            transition: 0.2s;

            &:hover {
              transform: skewX(-7deg);
            }
          }

          @mixin sm-mode {
            @include mixins.size(300px, 300px);
          }
        }

        .btn-container {
          .btn {
            border: 1px solid;
          }
        }
      }
    }
  }

  &:has(.theme-title--line) {
    margin: 30px auto;
    padding: 5px 10px;
    @include mixins.color-scheme(
      variables.$light-background-color,
      variables.$light-text-color
    );

    .theme-title--line {
      justify-content: space-between;

      .theme-title {
        width: 400px;
        text-align: center;
        @include mixins.border(1px, solid, variables.$dark-blue-color);
        padding: 10px;
        font-size: 24px;
        @include mixins.color-scheme(
          variables.$dark-blue-color,
          variables.$dark-text-color
        );
        border-radius: 5px;
      }

      .btn-container {
        gap: 20px;
      }
    }

    .info-line {
      @include mixins.flex-layout-row-with-gap(space-between, flex-start, 10px);

      .img-container {
        @include mixins.size(40%, 600px);
        margin-bottom: 20px;

        .img {
          @include mixins.size(100%, 100%);
          border-radius: 4px;
        }
      }

      .info--section {
        margin-top: 35px;
        width: 60%;

        .theme-info--list {
          @include mixins.flex-layout-row(space-between, center);
          flex-wrap: wrap;

          .theme-info--item {
            @include mixins.flex-layout-row(flex-start, center);
            margin-bottom: 50px;
            font-size: 18px;
            min-width: 220px;
            font-weight: 700;

            &.theme--description {
              flex-direction: column;
              align-items: baseline;
              min-width: 500px;

              .theme-info--item--title {
                margin-bottom: 10px;
              }

              .theme-info--item--content {
                display: inline-block;
                padding: 5px;
                word-break: break-word;
              }

              @mixin sm-mode {
                min-width: 400px;
              }

              @mixin xs-mode {
                min-width: 320px;
              }
            }

            .theme-info--item--title {
              margin-right: 10px;
              padding: 5px;
              @include mixins.border(
                1px,
                solid,
                variables.$dark-background-color
              );
              @include mixins.color-scheme(
                variables.$dark-background-color,
                variables.$light-background-color
              );
              border-radius: 4px;
            }

            .theme-info--item--content {
              .level-icon {
                @include mixins.flex-layout-row(flex-start, center);

                .level {
                  width: 17px;
                  height: 17px;
                }
              }
            }
          }
        }
      }
    }

    @mixin lg-mode {
      .theme-title--line {
        flex-direction: column;
        align-items: baseline;

        .btn-container {
          width: 100%;
          justify-content: end;

          .btn {
            &.delete {
              margin-right: 10px;
            }
          }
        }
      }

      .info-line {
        .img-container {
          width: 50%;
        }
      }
    }

    @mixin sm-mode {
      .theme-title--line {
        margin-bottom: 20px;

        .theme-title {
          width: 270px;
          font-size: 22px;
        }
      }

      .info-line {
        flex-direction: column;

        .img-container {
          width: 100%;
        }

        .info--section {
          margin-top: 0;
          width: 100%;

          .theme-info--list {
            .theme-info--item {
              min-width: 155px;
            }
          }
        }
      }
    }
  }

  .themeForm-container {
    margin: 10px 10px 50px;
    padding-bottom: 20px;
    border: 1px solid;
    border-radius: 4px;

    .container {
      gap: 10px;
    }

    .theme-input-container {
      .label-container {
        min-width: 100px;
      }
    }

    .theme-textarea {
      .label-container {
        min-width: 100px;
      }

      .textarea-container {
        max-width: 600px;
        margin: 10px 5px 15px;

        textarea {
          @include mixins.size(550px, 100%);
          text-align: start;
        }
      }
    }

    .genre-section {
      padding: 10px;
      @include mixins.flex-layout-row-with-gap(flex-start, center, 10px);

      .input-container {
        margin: 10px 5px 15px;

        .input--checkbox {
          margin: 0 10px;
        }
      }
    }

    &.edit-form-container {
      .theme-input-container {
        .input-container {
          border-color: variables.$light-text-color;

          input {
            color: variables.$light-text-color;
          }
        }
      }

      .theme-textarea {
        .textarea-container {
          border-color: variables.$light-text-color;

          textarea {
            color: variables.$light-text-color;
          }
        }
      }

      .genre-section {
        .input-container {
          border-color: variables.$light-text-color;
        }
      }
    }
  }

  @mixin light-mode {
    .theme-section {
      .theme-page--theme-section {
        .theme--list {
          .theme--item {
            .btn-container {
              .btn {
                @include mixins.color-scheme(
                  transparent,
                  variables.$light-text-color
                );

                &:hover {
                  color: #747bff;
                }
              }
            }
          }
        }
      }

      .theme-title--line {
        .theme-title {
          @include mixins.color-scheme(
            variables.$dark-blue-color,
            variables.$dark-text-color
          );
        }
      }

      &:has(.theme-title--line) {
        margin: 30px auto;
        padding: 5px 10px;

        @include mixins.color-scheme(
          variables.$dark-background-color,
          variables.$light-background-color
        );

        .info-line {
          .info--section {
            .theme-info--list {
              .theme-info--item {
                .theme-info--item--title {
                  @include mixins.color-scheme(
                    variables.$light-background-color,
                    variables.$dark-background-color
                  );
                }
              }
            }
          }
        }
      }
    }

    .themeForm-container {
      .theme-input-container {
        .input-container {
          border-color: variables.$light-text-color;
        }
      }

      .theme-textarea {
        .textarea-container {
          border-color: variables.$light-text-color;
        }
      }

      .genre-section {
        .input-container {
          border-color: variables.$light-text-color;
        }
      }

      &.edit-form-container {
        padding-top: 15px;

        .theme-input-container {
          .input-container {
            border-color: variables.$dark-text-color;

            input {
              color: variables.$dark-text-color;
            }
          }
        }

        .theme-textarea {
          .textarea-container {
            border-color: variables.$dark-text-color;

            textarea {
              color: variables.$dark-text-color;
            }
          }
        }

        .genre-section {
          .input-container {
            border-color: variables.$dark-text-color;
          }
        }
      }
    }
  }

  @mixin sm-mode {
    .themeForm-container {
      .theme-input-container,
      .theme-textarea,
      .genre-section {
        flex-direction: column;
      }

      .theme-input-container {
        .label-container {
          width: 100%;
        }

        .input-container {
          &:has(#originalFileName) {
            width: 322px;

            #originalFileName {
              width: 300px;
            }
          }
        }
      }

      .theme-textarea {
        width: 100%;
        .label-container,
        .textarea-container {
          width: 100%;
        }

        .textarea-container {
          textarea {
            width: 100%;
          }
        }
      }

      .genre-section {
        padding-top: 5px;

        .input-container {
          flex-wrap: wrap;
          gap: 10px;

          .input--checkbox {
            width: 60px;
          }
        }
      }
    }
  }
}

// home theme slide
.theme-slide-section {
  padding: 10px;
  @include mixins.flex-layout-column();
  max-height: 750px;

  .slick-slider {
    height: 700px;

    .slick-list {
      overflow: hidden;
      height: 700px;

      .slick-track {
        height: 700px;
      }
    }

    .slick-slide {
      margin: 0 10px;
    }

    .theme--slide {
      margin-top: 40px;
      @include mixins.flex-layout-column(center, center);
      @include mixins.border(1px, solid, black);

      .theme--slide__image {
        @include mixins.size(100%, 500px);
      }

      .theme--slide__btn {
        text-align: center;
        @include mixins.size(100%, 35px);
        line-height: 35px;
        display: block;
        font-size: 18px;
        @include mixins.color-scheme(#000, #fff);
        border-top: 1px solid;

        &:hover {
          background-color: rgb(40, 39, 39);
          transform: none;
        }
      }
    }

    .slick-dots {
      bottom: 70px;
    }

    .slick-prev:before,
    .slick-next:before {
      font-size: 35px;
      opacity: 1;
      color: variables.$slide-btn-color;
    }

    .slick-prev {
      left: 5px;
    }

    .slick-next {
      right: 25px;
    }
  }

  @media (max-width: variables.$breakpoint-md) {
    & {
      max-height: none;

      .slick-slider {
        height: auto;

        .slick-list {
          height: 400px;

          .slick-track {
            height: 400px;
          }
        }

        .theme--slide {
          margin-top: 30px;

          .theme--slide__image {
            @include mixins.size(100%, 300px);
          }
        }

        .slick-dots {
          bottom: 5px;
        }
      }
    }
  }
}
